* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: hsl(221, 100%, 96%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
}
main {
  border-radius: 20px;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to bottom left,
      hsl(252, 100%, 67%),
      hsl(241, 81%, 54%)
    );
    border-radius: 20px;
    padding: 20px 40px;
    h2 {
      color: hsl(241, 100%, 89%);
      font-weight: 500;
    }
    .circle {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
        to bottom,
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 0)
      );
      margin: 40px 0;

      .c-1 {
        font-weight: 800;
        font-size: 4rem;
        color: white;
      }
      .c-2 {
        font-weight: 500;
        color: hsl(0, 0%, 53%);
      }
    }
    h1 {
      color: white;
      font-weight: 700;
    }
    p {
      color: hsl(241, 100%, 89%);
      font-size: 16px;
      margin-top: 20px;
      max-width: 300px;
      text-align: center;
    }
  }
  .part2 {
    background: #fff;
    padding: 20px 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      font-weight: 700;
      color: hsl(224, 30%, 27%);
      font-size: 1.5rem;
    }
    .range {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      .range-div:nth-child(1) {
        background: hsl(0, 100%, 95%);
        div {
          .name {
            color: hsl(0, 100%, 67%);
            margin-left: 10px;
          }
        }
      }
      .range-div:nth-child(2) {
        background: hsl(39, 100%, 93%);
        div {
          .name {
            color: hsl(39, 100%, 56%);
            margin-left: 10px;
          }
        }
      }
      .range-div:nth-child(3) {
        background: hsl(166, 100%, 94%);
        div {
          .name {
            color: hsl(166, 100%, 37%);
            margin-left: 10px;
          }
        }
      }
      .range-div:nth-child(4) {
        background: hsl(233, 100%, 93%);
        div {
          .name {
            color: hsl(234, 85%, 45%);
            margin-left: 10px;
          }
        }
      }
      .range-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 15px 20px;
        border-radius: 20px;
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          .num1 {
            margin-right: 10px;
            font-weight: 800;
          }
          .num2 {
            color: hsl(224, 30%, 27%);
          }
        }
      }
    }
    button {
      margin-top: 30px;
      background: hsl(224, 30%, 27%);
      border-radius: 20px;
      padding: 15px 20px;
      text-align: center;
      color: white;
      width: 100%;
      cursor: pointer;
      transition: 0.3s ease;
      border: none;
      outline: none;
      &:hover {
        background: hsl(224, 30%, 17%);
      }
    }
  }
}
@media (max-width: 800px) {
  main {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    border-radius: 0;
    .part1 {
      border-radius: 0;
      border-bottom-right-radius: 40px;
      border-bottom-left-radius: 40px;
    }
    .part2 {
      border-radius: 0;
    }
  }
}
