* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: hsl(221, 100%, 96%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hanken Grotesk", sans-serif;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to bottom left,
      hsl(252, 100%, 67%),
      hsl(241, 81%, 54%)
    );
    border-radius: 20px;
    padding: 20px 40px;
    h2 {
      color: hsl(241, 100%, 89%);
      font-weight: 500;
    }
    .circle {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to bottom,hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
      margin: 40px 0;

      .c-1{
        font-weight: 800;
        font-size: 4rem;
        color: white;
      }
      .c-2{
        font-weight: 500;
        color: hsl(0, 0%, 53%);
      }
    }
    h1{
        color: white;
        font-weight: 700;
    }
    p{
        color: hsl(241, 100%, 89%);
        font-size: 16px;
        margin-top: 20px;
        max-width: 300px;
        text-align: center;
    }
  }
}
